<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;InterfaceTheme&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-panel icon="fonticon://Vaadin-Icons/e637" caption="Connection" size-full>
   <vaadin-vertical-layout size-auto>
    <vaadin-combo-box caption="Port" width="200px" data-item-type="java.lang.String" _id="comboPort">
     <option item="option1">option1</option>
     <option item="option2">option2</option>
     <option item="option3">option3</option>
    </vaadin-combo-box>
    <vaadin-combo-box caption="Speed" width="200px" height="37px" data-item-type="java.lang.String" _id="comboSpeed">
     <option item="COM1">COM1</option>
     <option item="COM2">COM2</option>
     <option item="COM3">COM3</option>
    </vaadin-combo-box>
    <vaadin-button icon="fonticon://Vaadin-Icons/e76b" width="200px" height="50px" plain-text _id="buttonConnect">
      Connect 
    </vaadin-button>
    <vaadin-button icon="fonticon://Vaadin-Icons/e790" width="200px" height="50px" plain-text _id="buttonRefresh">
      Refresh 
    </vaadin-button>
   </vaadin-vertical-layout>
  </vaadin-panel>
 </body>
</html>